<html>

<head>
  <title>Converter</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href='css/styles.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.js'></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body ng-app="myApp">
  <main class="pt-5">
    <div class="content-wrapper col-md-6">
      <div class="form-wrapper" ng-controller="CurrencyController">
        <h1 class="main-header">Currency Converter</h1>
        <form class="form col-md-12">
          <div class="form-group col-md-5">
            <label>From</label>
            <div class="input-group">
              <select
                class="custom-select"
                ng-options="currency.ccy for currency in list | filterCurrency:fieldBuy"
                ng-model="fieldSell">
              </select>
            </div>

            <label>Amount you give</label>
            <input
              type="text"
              ng-model="inputSell"
              ng-change="changeBuyInput()"
              autocomplete="off"
              class="form-control"
              placeholder="0">

            <div class="form-group">
              <h6 class="rate-header">Rate (market/inverse):</h6>
              <span>{{rateBuy}} / {{rateSell}}</span>
            </div>
          </div>

          <div class="form-group col-md-1">
            <button
              type="button"
              class="btn change-button"
              ng-click="onClick()">
              <span>&#8656;</span>
              <span>&#8658;</span>
            </button>
          </div>

          <div class="form-group col-md-5">
            <label>To</label>

            <div class="input-group">
              <select
                class="custom-select"
                ng-options="currency.ccy for currency in list  | filterCurrency:fieldSell"
                ng-model="fieldBuy">
              </select>
            </div>

            <label>Amount you get</label>
            <input
              type="text"
              ng-model="inputBuy"
              ng-change="changeSellInput()"
              autocomplete="off"
              class="form-control right-input"
              placeholder="0">

            <div class="input-group col-md-7 commission-select">
              <h6 class="commission-header">Commission(%): </h6>
              <select
                class="custom-select"
                ng-options="value for value in commissionList"
                ng-model="fieldCommission">
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

  <script src='js/index.js'></script>
</body>

</html>